body {
    margin: 40px 0;
    background-color: #1d1f21;
    color: #c5c8c6;
    font-family: 'Share Tech Mono', monospace;
}

p {
    background-color: #1d1f21;
    font-size: 18px;
    padding: 0 6px;
}

::-webkit-scrollbar-track {
    background-color: #1d1f21;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1d1f21;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #c5c8c6;
}

.title-group {
    padding: 40px 0 60px;
}

.title-group h1 {
    display: inline-block;
    font-size: 46px;
}

.title-group img {
    max-width: 140px;
    margin-top: -18px;
}

.wide {
    width: 100%;
}

.outline {
    border: 2px solid #c5c8c6;
    border-radius: 10px;
    padding: 16px 20px 12px;
    position: relative;
    transition: border-color 180ms ease;
}

.half-tile {
    width: calc(50% - 12px);
    display: inline-block;
}

input[type="text"] {
    background-color: #1d1f21;
    border: none;
    border-bottom: 2px solid #c5c8c6;
    outline: none;
    transition: border-bottom-color 180ms ease;
    color: #c5c8c6;
    margin: 4px 0;
}

input[type="text"]:focus {
    border-bottom: 2px solid rgba(25, 136, 68, .6);
}

::placeholder {
    color: #969896;
}

.card-title {
    display: inline-block;
    position: absolute;
    top: -14px;
    left: 12px;
    margin-bottom: 0;
    transition: color 180ms ease;
    user-select: none;
    cursor: pointer;
}

.card-title.right {
    left: unset;
    right: 12px;
}

.card-title.selected {
    color: rgba(25, 136, 68, .6);
}

#result {
    word-break: break-word;
    cursor: pointer;
}

.green {
    color: rgba(25, 136, 68, .6);
}

.blue {
    color: rgba(57, 113, 237, .6);
}

.yellow {
    color: rgba(251, 169, 34, .6);
}

.option {
    width: 100%;
    background-color: #1d1f21;
    color: #c5c8c6;
    outline: none;
    border: none;
    text-align: left;
    margin: 2px 0;
    border-radius: 4px;
    user-select: none;
}

.option:hover, .option:focus {
    color: #c5c8c6;
    outline: none;
    background-color: rgba(25, 136, 68, .6);
    transition: all 180ms ease;
}

.option.active, option.selected.active {
    background-color: #1d1f21;
}

.option.selected {
    color: rgba(25, 136, 68, .6);
    background-color: #1d1f21;
}

.option.selected:hover, .option.selected:focus {
    color: rgba(57, 113, 237, .6);
    background-color: rgba(25, 136, 68, .6);
}

.cpp {
    position: absolute;
    max-height: 32px;
    right: 20px;
    cursor: pointer;
}

.gh-link {
    position: absolute;
    right: 65px;
}

.gh-link img {
    max-height: 32px;
}

.tooltip {
    position: absolute;
    display: none;
    opacity: 1;
    top: 60px;
    text-align: center;
    background-color: #1d1f21;
    border-radius: 10px;
    padding: 14px;
    border: 2px solid #c5c8c6;
    font-family: 'Share Tech Mono', monospace;
}

#main-tooltip {
    right: -55px;
    max-width: 180px;
}

#gh-tooltip {
    right: 14px;
    max-width: 130px;
}
